---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';
let title = 'Abstract Paintings and Art';
---
    <BaseLayout title={title}>
        <section class="nav__home-page">
            <article>
                <h1>
                    <a href="/paintings">Paintings</a>
                </h1>
                <h1>
                    <a href="/about">About</a>
                </h1>
            </article>
        </section>
</BaseLayout>