---
import '../styles/global.scss';
import '../styles/home.css';
const {title} = Astro?.props?.title ? Astro?.props : Astro?.props?.content;
const date = new Date();
const current = Astro.canonicalURL.pathname;
---
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Wm Harrison - {title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style lang="scss"/>
  </head>
  <body >
    <!-- Adds a navigation bar to every page. -->
    <header>
            <div>
            {current !== '/' ?
                <a href="/"><svg width="2em" height=".5em">
                <use xlink:href="/assets/wmh.svg#Layer_1" fill="currentColor" /></svg></a> : <svg width="2em" height=".5em">
                <use xlink:href="/assets/wmh.svg#Layer_1" fill="currentColor" /></svg>
            }
            </div>
            {current !== '/' ?
                <nav>
                <a href={current === '/paintings' ? "javascript:void(0)" : "/paintings"} class={current === '/paintings' ? "current-link" : ''}>Paintings</a>
                </nav> : null
            }
    </header>
    <!-- slot: your page content will be injected here. -->
    <div id="fade" class={`container mx-auto flex flex-wrap ${current === '/about' ? 'w-6/12' : ''}`}>
        <slot />
    </div>
    <footer>
        <small>&copy; 2021 - {date.getFullYear()} - Wm Harrison</small>
    </footer>
  </body>
</html>