---
const {title} = Astro.props;
const date = new Date();
const current = Astro.request.url.pathname;
---
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.scss')}>
    <link rel="stylesheet" href={Astro.resolve('../styles/home.css')}>
  </head>
  <body>
    <!-- Adds a navigation bar to every page. -->
    <header>
            <div>
            {current !== '/' ?
                <a href="/"><img width="60" height="80" src="/assets/wmh.svg" alt="Wm H"></a> : <img width="60" height="80" src="/assets/wmh.svg" alt="Wm H">
            }
            </div>
    </header>
        {current !== '/' ?
            <nav>
            <a href={current === '/paintings' ? "javascript:void(0)" : "/paintings"} class={current === '/paintings' ? "current-link" : ''}>Paintings</a>
            </nav> : null
        }
    <!-- slot: your page content will be injected here. -->
    <slot />
    <footer>
        <small>&copy; 2021 - {date.getFullYear()} - Wm Harrison</small>
    </footer>
  </body>
</html>